body{
    color:rgb(16, 230, 230);
    background:rgb(248, 112, 157) ;
}

.heading{
    width: 85%;
    font-size:35px;
}

.name_of_the_objects, #result_object_name, #result_accuracy{
    color: rgb(255, 255, 0);
}

#camera{
    border: 5px dotted rgb(8, 255, 230);
    width: 350px;
    height:300px;

}
